.BodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 5%;
  background-color: aliceblue;
  height: auto;
  overflow: auto;
}

.ContentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
