.bodyContainer {
  background-color: lightcyan;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.gridContainer {
  display: grid;
  padding-top: 100px;
  justify-items: center;
  align-items: flex-start;
  padding: 1% auto;
  grid-gap: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .gridContainer {
    padding-top: 80px;
  }
}

@media (max-width: 576px) {
  .gridContainer {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 699px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 700px) and (max-width: 1099px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1439px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1849px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1850px) and (max-width: 2219px) {
  .gridContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 2219px) and (max-width: 2599px) {
  .gridContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 2600px) {
  .gridContainer {
    grid-template-columns: repeat(7, 1fr);
  }
}
