.BodyContainer {
  background-color: lightcyan;
}

.ContentContainer {
  position: 'absolute';
  outline: none;
  bottom: 347;
  height: 337;
  left: 381;
  top: 1408;
  width: 352;
}

::-webkit-scrollbar {
  display: none;
}
