.PageBarDiv {
  padding-top: 20px;
  width: 100%;
  height: 80px;
  user-select: none;
}
.number {
  font-size: xxx-large;
}
.icon {
  font-size: xx-large;
}
.PageBarDiv span {
  cursor: pointer;
  padding: 0 10px;
}
.select {
  font-weight: bold;
  color: tomato;
}
