.headerContainer {
  width: 100%;
  min-height: 79px;
  display: flex;
  background-color: #ffffff;
  color: #000000;
  position: fixed;
}

.logoContainer {
  background-color: rgb(0, 164, 164);
  padding: 0 1%;
  cursor: pointer;
  width: auto;
}

.logo {
  font-size: xx-large;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (max-width: 768px) {
  .headerContainer {
    min-height: 60px;
  }
  .logo {
    font-size: x-large;
    margin-top: 8%;
  }
}

@media (max-width: 576px) {
  .headerContainer {
    min-height: 40px;
  }
  .logo {
    font-size: large;
    margin-top: 6%;
  }
}
