.headerContainer {
  width: 100%;
  min-height: 79px;
  display: flex;
  background-color: #ffffff;
  color: #000000;
  position: fixed;
}

.logoContainer {
  background-color: rgb(0, 164, 164);
  padding: 0 20px;
  cursor: pointer;
  width: auto;
}

.logo {
  font-size: xx-large;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.searchContainer {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 1px;
  border: 1px solid grey;
}

.searchBox {
  width: 100%;
  min-height: 79px;
  font-size: xxx-large;
  border: none;
}

.searchContainer svg {
  font-size: xxx-large;
  cursor: pointer;
  padding: 0 20px;
}

.optionContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

select {
  flex: 1;
  display: flex;
  font-size: xx-large;
  align-items: center;
  margin: 0 3%;
}

option {
  text-align: center;
}

@media (max-width: 1099px) {
  .logo span {
    display: none;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    min-height: 60px;
  }
  .logo {
    font-size: x-large;
    margin-top: 22px;
  }
  .logoContainer {
    padding: 0 16px;
  }
  .searchBox {
    min-height: 60px;
    font-size: xx-large;
  }
  .searchContainer svg {
    font-size: xx-large;
  }
  select {
    font-size: x-large;
    margin: 0 2%;
  }
}

@media (max-width: 576px) {
  .headerContainer {
    min-height: 40px;
  }
  .logo {
    font-size: large;
    margin-top: 14px;
  }
  .logoContainer {
    padding: 0 10px;
  }
  .searchBox {
    min-height: 40px;
    font-size: x-large;
  }
  .searchContainer svg {
    font-size: x-large;
  }
  select {
    font-size: large;
    margin: 0 1%;
  }
}
